<% if fly_site.latest_flyability_score %>
  <% fly_site.latest_flyability_score.scores.map{|k,_| k.to_i}.sort.each do |score| %>
    <% dow = get_dow(score) %>
    <% link_class = "dow-forecast text-light #{get_score_css_class(fly_site.latest_flyability_score.scores[score.to_s])}" %>
    <div class="<%= link_class %>" id=<%= "#{fly_site.slug}_#{dow}" %>>
      <strong><%= dow %></strong>
    </div>
  <% end %>
<% end %> 