<div class="row border-bottom site-list-header">
  <div class="col-4 pl-2 pr-2 pb-1 pt-1 site-list-header-sites"></div>
  <div class="col-8 pl-2 pr-2 pb-1 pt-1 site-list-header-dows">
    <div class="row">
      <% wkday = Time.now.wday %>
      <% date = Time.now.in_time_zone("Pacific Time (US & Canada)") %>
      <% day_num = date.day %>
      <% 0..8.times do  %>
        <% dow = get_dow(wkday) %>
        <div class="dow-gradient text-center border-left">
          <%= dow %><br/><%= day_num %>
        </div>
        <% wkday += 1 %>
        <% date = date + 1.day %>
        <% day_num = date.day %>
      <% end %>
    </div>
  </div>
</div>