<div class="row border-bottom site-item">
  <div class="col-4 pl-2 pr-2 pb-1 pt-1 site-list-item-info">
    <%= render partial: "home/site_list_item_info", 
      locals: { fly_site: fly_site } %>
  </div>
  <div class="col-8 pl-2 pr-2 pb-1 pt-1 site-list-item-gradient" 
    id=<%= "collapse_group_#{fly_site.slug}" %>>
    <%= render partial: "home/site_list_item_gradient", 
      locals: { fly_site: fly_site } %>
  </div>
</div>