@import 'bootstrap';
@import 'font-awesome';

#map {
  min-width: 350px;
  min-height: 200px;
}

canvas {
  width: 100%;
  height: 100%;
}

.site-nav-tab {
  font-size: 0.75rem;
}

.dow-gradient {
  display: inline-block;
  width: 2em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
}

.dow-regular-border {
  border-left: 1px solid #fefefe;
}

.dow-regular-header-border {
  border-left: 0.9px solid;
}

.dow-highlight-border {
  border-left: 1px solid #4883aa;
  border-right: 1px solid #4883aa;
}

.dow_detailed_score_info {
  background-color: $secondary;
}
.dow_detailed_score_ideal {
  background-color: $green;
}
.dow_detailed_score_edge {
  background-color: $yellow;
}
.dow_detailed_score_no {
  background-color: $danger;
}

.custom_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .custom_pagination a, .custom_pagination span, .custom_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .custom_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .custom_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .custom_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .custom_pagination a:hover, .custom_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .custom_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .custom_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .custom_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .custom_pagination {
    height: 1%; }
  *:first-child + html .custom_pagination {
    overflow: hidden; }

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}

.nav-item {
  text-align: right;
}

.favorite a {
  text-decoration: none;
}