@import 'bootstrap';

#map {
  min-width: 350px;
  min-height: 200px;
}

.site-nav-tab {
  font-size: 0.75rem;
}

.dow-forecast {
  display: inline-block;
  text-align: center;
  width: 2em;
  margin: 0 0 0 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}